@charset "utf-8";
@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff'),
    url('../../fonts/ONE-Mobile-Title.woff'),
    url('../../fonts/ONE\ Mobile\ Title.ttf'),
    url('../../fonts/ONE\ Mobile\ Title\ OTF.otf');
  font-weight: normal;
  font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'OneMobile';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileLight.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileLight.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileLight.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileLight.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'OneMobile';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileRegular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileRegular.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileRegular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileRegular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileRegular.ttf') format("truetype"),
      url('../../fonts/OneMobileRegular.woff2')
      ;
  font-display: swap;
}
@font-face {
  font-family: 'OneMobile';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileBold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileBold.woff') format('woff'),
      url('../../fonts/OneMobileBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/onestore/OneMobileBold.ttf') format("truetype");
  font-display: swap;
}
/* λ…Έν† μ‚°μ¤ */
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 700;
    src: url(../../fonts/notokr-demilight.eot);
    src: local("notokr-demilight"), url(../../fonts/notokr-demilight.eot?#iefix) format("embedded-opentype"), url(../../fonts/notokr-demilight.woff) format("woff"), url(../../fonts/notokr-demilight.woff2) format("woff2"), url(../../fonts/notokr-demilight.ttf) format("truetype");
   font-display: swap;
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 400;
    src: url(../../fonts/notokr-regular.eot);
    src: local("notokr-regular"), url(../../fonts/notokr-regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/notokr-regular.woff) format("woff"), url(../../fonts/notokr-regular.woff2) format("woff2"), url(../../fonts/notokr-regular.ttf) format("truetype");
   font-display: swap;
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 500;
    src: url(../../fonts/notokr-medium.eot);
    src: local("notokr-medium"), url(../../fonts/notokr-medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/notokr-medium.woff) format("woff"), url(../../fonts/notokr-medium.woff2) format("woff2"), url(../../fonts/notokr-medium.ttf) format("truetype");
   font-display: swap;
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 700;
    src: url(../../fonts/notokr-bold.eot);
    src: local("notokr-bold"), url(../../fonts/notokr-bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/notokr-bold.woff) format("woff"), url(../../fonts/notokr-bold.woff2) format("woff2"), url(../../fonts/notokr-bold.ttf) format("truetype");
   font-display: swap;
  }